.header{
	background-color:#B0C4DE;
 	text-align:center;
 	padding: 10px;
 	font-family:"Comic Sans MS";
}

.topnav {
	overflow: hidden;
	background-color:#FFFACD;
}

.topnav a {

 	display:block;
 	font-family:"Century Gothic";
 	padding: 15px;
 	text-decoration: none;
 	text-align:center;
}

.topnav ul{
	text-align: center;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

.topnav li{
	display:inline-block;
}

.leftnav{
	background-color:#F1F1F1;
	float:left;
	font-family:Geneva;
}

.leftnav ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
}

.leftnav li{
	display:block;
	padding: 10px;
	width:300px;
	
}

.leftcolumn {   
  float: left;
  width: 25%;
}


.rightcolumn {
  float: right;
  width: 75%;
}

.footer {
	position:fixed;
	bottom:0;
	width:100%;
	text-align:center;
}
